 WITH src AS (
         SELECT NULLIF(regexp_replace(TRIM(BOTH FROM p.numero), '\s+'::text, ''::text, 'g'::text), ''::text) AS ot_key,
            NULLIF(regexp_replace(TRIM(BOTH FROM p.nd), '\s+'::text, ''::text, 'g'::text), ''::text) AS nd,
            NULLIF(TRIM(BOTH FROM p.act_prod), ''::text) AS act_prod_raw,
            NULLIF(TRIM(BOTH FROM p.statut), ''::text) AS statut_praxedo,
            p.planifiee AS date_planifiee,
            NULL::timestamp without time zone AS date_cloture,
            NULLIF(TRIM(BOTH FROM p.code_intervenant), ''::text) AS code_cloture_code,
            concat_ws(' '::text, NULLIF(TRIM(BOTH FROM p.nom_technicien), ''::text), NULLIF(TRIM(BOTH FROM p.prenom_technicien), ''::text)) AS technicien,
            NULL::text AS commentaire_praxedo,
            p.imported_at,
            p.desc_site,
            p.description,
            COALESCE(NULLIF(TRIM(BOTH FROM p.compte_rendu), ''::text), NULLIF(TRIM(BOTH FROM cr10_1.compte_rendu), ''::text)) AS compte_rendu,
            canonique.extract_commentaire_releve(COALESCE(NULLIF(TRIM(BOTH FROM p.compte_rendu), ''::text), NULLIF(TRIM(BOTH FROM cr10_1.compte_rendu), ''::text))) AS commentaire_technicien,
            p.user_id
           FROM raw.praxedo p
             LEFT JOIN raw.praxedo_cr10 cr10_1 ON NULLIF(ltrim(regexp_replace(btrim(cr10_1.id_externe), '\s+'::text, ''::text, 'g'::text), '0'::text), ''::text) = NULLIF(ltrim(regexp_replace(btrim(p.numero), '\s+'::text, ''::text, 'g'::text), '0'::text), ''::text) AND cr10_1.user_id = p.user_id
        ), terrain AS (
         SELECT s.ot_key,
            s.nd,
            s.act_prod_raw,
            s.statut_praxedo,
            s.date_planifiee,
            s.date_cloture,
            s.code_cloture_code,
            s.technicien,
            s.commentaire_praxedo,
            s.imported_at,
            s.desc_site,
            s.description,
            s.compte_rendu,
            s.commentaire_technicien,
            NULLIF(btrim("substring"(s.desc_site, '(?mi)Type Site:\s*([^\r\n]+)'::text)), ''::text) AS type_site_terrain,
            NULLIF(btrim(COALESCE("substring"(s.desc_site, '(?mi)TypePBO:\s*([^\r\n]+)'::text), "substring"(s.desc_site, '(?mi)Descriptif PB:\s*([^\r\n]+)'::text))), ''::text) AS type_pbo_terrain,
            upper(NULLIF(btrim("substring"(s.desc_site, '(?mi)NatureTravaux:\s*([^\r\n]+)'::text)), ''::text)) AS nature_travaux,
            s.user_id
           FROM src s
        ), computed AS (
         SELECT t.ot_key,
            t.nd,
            t.act_prod_raw,
            t.statut_praxedo,
            t.date_planifiee,
            t.date_cloture,
            t.code_cloture_code,
            t.technicien,
            t.commentaire_praxedo,
            t.imported_at,
            t.desc_site,
            t.description,
            t.compte_rendu,
            t.commentaire_technicien,
            t.type_site_terrain,
            t.type_pbo_terrain,
            t.nature_travaux,
                CASE
                    WHEN t.nature_travaux ~~ '%AERIEN%'::text THEN 'AERIEN'::text
                    WHEN t.nature_travaux ~~ '%SOUTERRAIN%'::text THEN 'SOUTERRAIN'::text
                    WHEN t.type_site_terrain ~~* 'Immeuble%'::text OR t.type_pbo_terrain ~~* '%IMMEUBLE%'::text THEN 'IMMEUBLE'::text
                    ELSE NULL::text
                END AS mode_passage,
            t.user_id
           FROM terrain t
        ), praxedo_norm AS (
         SELECT computed.ot_key,
            computed.nd,
                CASE
                    WHEN computed.act_prod_raw IS NULL THEN NULL::text
                    ELSE
                    CASE
                        WHEN POSITION(('_'::text) IN (computed.act_prod_raw)) > 0 THEN "left"(split_part(computed.act_prod_raw, '_'::text, 1), 3)
                        WHEN length(regexp_replace(computed.act_prod_raw, '\s+'::text, ''::text, 'g'::text)) >= 6 THEN "left"(regexp_replace(computed.act_prod_raw, '\s+'::text, ''::text, 'g'::text), 3)
                        ELSE NULL::text
                    END
                END AS activite_code,
                CASE
                    WHEN computed.act_prod_raw IS NULL THEN NULL::text
                    ELSE
                    CASE
                        WHEN POSITION(('_'::text) IN (computed.act_prod_raw)) > 0 THEN substr(split_part(computed.act_prod_raw, '_'::text, 1), 4, 3)
                        WHEN length(regexp_replace(computed.act_prod_raw, '\s+'::text, ''::text, 'g'::text)) >= 6 THEN substr(regexp_replace(computed.act_prod_raw, '\s+'::text, ''::text, 'g'::text), 4, 3)
                        ELSE NULL::text
                    END
                END AS produit_code,
            computed.code_cloture_code,
            computed.statut_praxedo,
            computed.date_planifiee,
            computed.date_cloture,
            computed.technicien,
            computed.commentaire_praxedo,
            computed.imported_at,
            computed.desc_site,
            computed.description,
            computed.type_site_terrain,
            computed.type_pbo_terrain,
            computed.mode_passage,
                CASE
                    WHEN computed.mode_passage = 'AERIEN'::text THEN 'LSA1,LSAFP'::text
                    WHEN computed.mode_passage = 'SOUTERRAIN'::text THEN 'LSOU1,LSOUP'::text
                    WHEN computed.mode_passage = 'IMMEUBLE'::text THEN 'LSIM1,LSIMP'::text
                    ELSE NULL::text
                END AS article_facturation_propose,
                CASE
                    WHEN computed.mode_passage IS NOT NULL THEN 'OK'::text
                    WHEN computed.desc_site IS NULL OR btrim(computed.desc_site) = ''::text THEN NULL::text
                    ELSE 'A_VERIFIER'::text
                END AS statut_article,
            computed.compte_rendu,
            computed.commentaire_technicien,
            computed.user_id
           FROM computed
          WHERE computed.ot_key IS NOT NULL OR computed.nd IS NOT NULL
        ), p_old AS (
         SELECT DISTINCT ON (t.user_id, t.ot_norm) t.user_id,
            t.ot_norm,
            t.compte_rendu
           FROM ( SELECT p.user_id,
                    NULLIF(ltrim(regexp_replace(regexp_replace(btrim(p.numero), '\s+'::text, ''::text, 'g'::text), '[^0-9]'::text, ''::text, 'g'::text), '0'::text), ''::text) AS ot_norm,
                    NULLIF(btrim(p.compte_rendu), ''::text) AS compte_rendu,
                    p.imported_at
                   FROM raw.praxedo p) t
          WHERE t.ot_norm IS NOT NULL AND t.compte_rendu IS NOT NULL
          ORDER BY t.user_id, t.ot_norm, t.imported_at DESC NULLS LAST
        ), p_cr10 AS (
         SELECT DISTINCT ON (t.user_id, t.ot_norm) t.user_id,
            t.ot_norm,
            t.compte_rendu
           FROM ( SELECT c.user_id,
                    NULLIF(ltrim(regexp_replace(regexp_replace(btrim(c.id_externe), '\s+'::text, ''::text, 'g'::text), '[^0-9]'::text, ''::text, 'g'::text), '0'::text), ''::text) AS ot_norm,
                    NULLIF(btrim(c.compte_rendu), ''::text) AS compte_rendu,
                    c.imported_at
                   FROM raw.praxedo_cr10 c) t
          WHERE t.ot_norm IS NOT NULL AND t.compte_rendu IS NOT NULL
          ORDER BY t.user_id, t.ot_norm, t.imported_at DESC NULLS LAST
        ), pr AS (
         SELECT DISTINCT ON (x.pr_user_id, x.ot_norm, x.nd_norm) x.ot_key,
            x.nd,
            x.ot_norm,
            x.nd_norm,
            x.activite_code,
            x.produit_code,
            x.code_cloture_code,
            x.statut_praxedo,
            x.date_planifiee,
            x.date_cloture,
            x.technicien,
            x.commentaire_praxedo,
            x.imported_at,
            x.desc_site,
            x.description,
            x.type_site_terrain,
            x.type_pbo_terrain,
            x.mode_passage,
            x.article_facturation_propose,
            x.statut_article,
            x.commentaire_technicien,
            x.pr_user_id,
            COALESCE(pc.compte_rendu, po.compte_rendu) AS compte_rendu
           FROM ( SELECT pn.ot_key,
                    pn.nd,
                    NULLIF(ltrim(regexp_replace(regexp_replace(btrim(pn.ot_key), '\s+'::text, ''::text, 'g'::text), '[^0-9]'::text, ''::text, 'g'::text), '0'::text), ''::text) AS ot_norm,
                    NULLIF(regexp_replace(btrim(pn.nd), '\s+'::text, ''::text, 'g'::text), ''::text) AS nd_norm,
                    pn.activite_code,
                    pn.produit_code,
                    pn.code_cloture_code,
                    pn.statut_praxedo,
                    pn.date_planifiee,
                    pn.date_cloture,
                    pn.technicien,
                    pn.commentaire_praxedo,
                    pn.imported_at,
                    pn.desc_site,
                    pn.description,
                    pn.type_site_terrain,
                    pn.type_pbo_terrain,
                    pn.mode_passage,
                    pn.article_facturation_propose,
                    pn.statut_article,
                    pn.commentaire_technicien,
                    pn.user_id AS pr_user_id
                   FROM praxedo_norm pn) x
             LEFT JOIN p_old po ON po.ot_norm = x.ot_norm AND po.user_id = x.pr_user_id
             LEFT JOIN p_cr10 pc ON pc.ot_norm = x.ot_norm AND pc.user_id = x.pr_user_id
          WHERE x.ot_norm IS NOT NULL OR x.nd_norm IS NOT NULL
          ORDER BY x.pr_user_id, x.ot_norm, x.nd_norm, x.imported_at DESC NULLS LAST
        ), pi AS (
         SELECT DISTINCT ON (x.pi_user_id, x.ot_norm, x.nd_norm) x.ot_key,
            x.nd_global,
            x.ot_norm,
            x.nd_norm,
            x.statut_pidi,
            x.code_cible,
            x.pidi_date_creation,
            x.numero_att,
            x.liste_articles,
            x.liste_articles_canon,
            x.commentaire_pidi,
            x.imported_at,
            x.numero_ppd,
            x.attachement_valide,
            x.pi_user_id
           FROM ( SELECT pn.ot_key,
                    pn.nd_global,
                    NULLIF(ltrim(regexp_replace(regexp_replace(btrim(pn.ot_key), '\s+'::text, ''::text, 'g'::text), '[^0-9]'::text, ''::text, 'g'::text), '0'::text), ''::text) AS ot_norm,
                    NULLIF(regexp_replace(btrim(pn.nd_global), '\s+'::text, ''::text, 'g'::text), ''::text) AS nd_norm,
                    pn.statut_pidi,
                    pn.code_cible,
                    pn.pidi_date_creation,
                    pn.numero_att,
                    pn.liste_articles,
                    pn.liste_articles_canon,
                    pn.commentaire_pidi,
                    pn.imported_at,
                    pn.numero_ppd,
                    pn.attachement_valide,
                    pn.user_id AS pi_user_id
                   FROM canonique.pidi_norm pn) x
          WHERE x.ot_norm IS NOT NULL OR x.nd_norm IS NOT NULL
          ORDER BY x.pi_user_id, x.ot_norm, x.nd_norm, x.imported_at DESC NULLS LAST
        ), m_ot_nd AS (
         SELECT pr.ot_key,
            pr.nd,
            pr.ot_norm,
            pr.nd_norm,
            pr.activite_code,
            pr.produit_code,
            pr.code_cloture_code,
            pr.statut_praxedo,
            pr.date_planifiee,
            pr.date_cloture,
            pr.technicien,
            pr.commentaire_praxedo,
            pr.imported_at,
            pr.desc_site,
            pr.description,
            pr.type_site_terrain,
            pr.type_pbo_terrain,
            pr.mode_passage,
            pr.article_facturation_propose,
            pr.statut_article,
            pr.commentaire_technicien,
            pr.compte_rendu,
            pr.pr_user_id,
            pi.ot_key AS pi_ot_key,
            pi.nd_global AS pi_nd_global,
            pi.statut_pidi,
            pi.code_cible,
            pi.pidi_date_creation,
            pi.numero_att,
            pi.liste_articles,
            pi.liste_articles_canon,
            pi.commentaire_pidi,
            pi.imported_at AS pi_imported_at,
            pi.numero_ppd,
            pi.attachement_valide,
            pi.pi_user_id
           FROM pr
             JOIN pi ON pr.ot_norm IS NOT NULL AND pi.ot_norm IS NOT NULL AND pr.nd_norm IS NOT NULL AND pi.nd_norm IS NOT NULL AND pr.ot_norm = pi.ot_norm AND pr.nd_norm = pi.nd_norm AND pr.pr_user_id = pi.pi_user_id
        ), pr_left AS (
         SELECT pr.ot_key,
            pr.nd,
            pr.ot_norm,
            pr.nd_norm,
            pr.activite_code,
            pr.produit_code,
            pr.code_cloture_code,
            pr.statut_praxedo,
            pr.date_planifiee,
            pr.date_cloture,
            pr.technicien,
            pr.commentaire_praxedo,
            pr.imported_at,
            pr.desc_site,
            pr.description,
            pr.type_site_terrain,
            pr.type_pbo_terrain,
            pr.mode_passage,
            pr.article_facturation_propose,
            pr.statut_article,
            pr.commentaire_technicien,
            pr.compte_rendu,
            pr.pr_user_id
           FROM pr
             LEFT JOIN m_ot_nd m ON m.ot_norm = pr.ot_norm AND m.nd_norm = pr.nd_norm AND m.pr_user_id = pr.pr_user_id
          WHERE m.ot_norm IS NULL
        ), pi_left AS (
         SELECT pi.ot_key,
            pi.nd_global,
            pi.ot_norm,
            pi.nd_norm,
            pi.statut_pidi,
            pi.code_cible,
            pi.pidi_date_creation,
            pi.numero_att,
            pi.liste_articles,
            pi.liste_articles_canon,
            pi.commentaire_pidi,
            pi.imported_at,
            pi.numero_ppd,
            pi.attachement_valide,
            pi.pi_user_id
           FROM pi
             LEFT JOIN m_ot_nd m ON m.ot_norm = pi.ot_norm AND m.nd_norm = pi.nd_norm AND m.pi_user_id = pi.pi_user_id
          WHERE m.ot_norm IS NULL
        ), pr_nd_unique AS (
         SELECT pr_left.nd_norm
           FROM pr_left
          WHERE pr_left.nd_norm IS NOT NULL
          GROUP BY pr_left.nd_norm
         HAVING count(*) = 1
        ), pi_nd_unique AS (
         SELECT pi_left.nd_norm
           FROM pi_left
          WHERE pi_left.nd_norm IS NOT NULL
          GROUP BY pi_left.nd_norm
         HAVING count(*) = 1
        ), m_nd_only AS (
         SELECT prl.ot_key,
            prl.nd,
            prl.ot_norm,
            prl.nd_norm,
            prl.activite_code,
            prl.produit_code,
            prl.code_cloture_code,
            prl.statut_praxedo,
            prl.date_planifiee,
            prl.date_cloture,
            prl.technicien,
            prl.commentaire_praxedo,
            prl.imported_at,
            prl.desc_site,
            prl.description,
            prl.type_site_terrain,
            prl.type_pbo_terrain,
            prl.mode_passage,
            prl.article_facturation_propose,
            prl.statut_article,
            prl.commentaire_technicien,
            prl.compte_rendu,
            prl.pr_user_id,
            pil.ot_key AS pi_ot_key,
            pil.nd_global AS pi_nd_global,
            pil.statut_pidi,
            pil.code_cible,
            pil.pidi_date_creation,
            pil.numero_att,
            pil.liste_articles,
            pil.liste_articles_canon,
            pil.commentaire_pidi,
            pil.imported_at AS pi_imported_at,
            pil.numero_ppd,
            pil.attachement_valide,
            pil.pi_user_id
           FROM pr_left prl
             JOIN pr_nd_unique u1 ON u1.nd_norm = prl.nd_norm
             JOIN pi_left pil ON pil.nd_norm = prl.nd_norm AND pil.pi_user_id = prl.pr_user_id
             JOIN pi_nd_unique u2 ON u2.nd_norm = pil.nd_norm
        ), pr_abs AS (
         SELECT prl.ot_key,
            prl.nd,
            prl.ot_norm,
            prl.nd_norm,
            prl.activite_code,
            prl.produit_code,
            prl.code_cloture_code,
            prl.statut_praxedo,
            prl.date_planifiee,
            prl.date_cloture,
            prl.technicien,
            prl.commentaire_praxedo,
            prl.imported_at,
            prl.desc_site,
            prl.description,
            prl.type_site_terrain,
            prl.type_pbo_terrain,
            prl.mode_passage,
            prl.article_facturation_propose,
            prl.statut_article,
            prl.commentaire_technicien,
            prl.compte_rendu,
            prl.pr_user_id
           FROM pr_left prl
             LEFT JOIN m_nd_only m ON m.ot_norm = prl.ot_norm AND m.nd_norm = prl.nd_norm AND m.pr_user_id = prl.pr_user_id
          WHERE m.ot_norm IS NULL
        ), pi_abs AS (
         SELECT pil.ot_key,
            pil.nd_global,
            pil.ot_norm,
            pil.nd_norm,
            pil.statut_pidi,
            pil.code_cible,
            pil.pidi_date_creation,
            pil.numero_att,
            pil.liste_articles,
            pil.liste_articles_canon,
            pil.commentaire_pidi,
            pil.imported_at,
            pil.numero_ppd,
            pil.attachement_valide,
            pil.pi_user_id
           FROM pi_left pil
             LEFT JOIN m_nd_only m ON m.nd_norm = pil.nd_norm AND m.pi_user_id = pil.pi_user_id
          WHERE m.nd_norm IS NULL
        ), all_rows AS (
         SELECT m.ot_key AS pr_ot_key,
            m.nd AS pr_nd,
            m.ot_norm,
            m.nd_norm,
            m.activite_code,
            m.produit_code,
            m.code_cloture_code,
            m.statut_praxedo,
            m.date_planifiee,
            m.date_cloture,
            m.technicien,
            m.commentaire_praxedo,
            m.imported_at AS pr_imported_at,
            m.desc_site,
            m.description,
            m.type_site_terrain,
            m.type_pbo_terrain,
            m.mode_passage,
            m.article_facturation_propose,
            m.statut_article,
            m.commentaire_technicien,
            m.compte_rendu,
            m.pr_user_id,
            m.pi_ot_key,
            m.pi_nd_global,
            m.statut_pidi,
            m.code_cible,
            m.pidi_date_creation,
            m.numero_att,
            m.liste_articles,
            m.liste_articles_canon,
            m.commentaire_pidi,
            m.pi_imported_at,
            m.numero_ppd,
            m.attachement_valide,
            m.pi_user_id
           FROM m_ot_nd m
        UNION ALL
         SELECT m.ot_key,
            m.nd,
            m.ot_norm,
            m.nd_norm,
            m.activite_code,
            m.produit_code,
            m.code_cloture_code,
            m.statut_praxedo,
            m.date_planifiee,
            m.date_cloture,
            m.technicien,
            m.commentaire_praxedo,
            m.imported_at,
            m.desc_site,
            m.description,
            m.type_site_terrain,
            m.type_pbo_terrain,
            m.mode_passage,
            m.article_facturation_propose,
            m.statut_article,
            m.commentaire_technicien,
            m.compte_rendu,
            m.pr_user_id,
            m.pi_ot_key,
            m.pi_nd_global,
            m.statut_pidi,
            m.code_cible,
            m.pidi_date_creation,
            m.numero_att,
            m.liste_articles,
            m.liste_articles_canon,
            m.commentaire_pidi,
            m.pi_imported_at,
            m.numero_ppd,
            m.attachement_valide,
            m.pi_user_id
           FROM m_nd_only m
        UNION ALL
         SELECT pr_abs.ot_key AS pr_ot_key,
            pr_abs.nd AS pr_nd,
            pr_abs.ot_norm,
            pr_abs.nd_norm,
            pr_abs.activite_code,
            pr_abs.produit_code,
            pr_abs.code_cloture_code,
            pr_abs.statut_praxedo,
            pr_abs.date_planifiee,
            pr_abs.date_cloture,
            pr_abs.technicien,
            pr_abs.commentaire_praxedo,
            pr_abs.imported_at AS pr_imported_at,
            pr_abs.desc_site,
            pr_abs.description,
            pr_abs.type_site_terrain,
            pr_abs.type_pbo_terrain,
            pr_abs.mode_passage,
            pr_abs.article_facturation_propose,
            pr_abs.statut_article,
            pr_abs.commentaire_technicien,
            pr_abs.compte_rendu,
            pr_abs.pr_user_id,
            NULL::text AS pi_ot_key,
            NULL::text AS pi_nd_global,
            NULL::text AS statut_pidi,
            NULL::text AS code_cible,
            NULL::timestamp without time zone AS pidi_date_creation,
            NULL::text AS numero_att,
            NULL::text AS liste_articles,
            NULL::text[] AS liste_articles_canon,
            NULL::text AS commentaire_pidi,
            NULL::timestamp without time zone AS pi_imported_at,
            NULL::text AS numero_ppd,
            NULL::text AS attachement_valide,
            NULL::integer AS pi_user_id
           FROM pr_abs
        UNION ALL
         SELECT NULL::text AS pr_ot_key,
            NULL::text AS pr_nd,
            pi_abs.ot_norm,
            pi_abs.nd_norm,
            NULL::text AS activite_code,
            NULL::text AS produit_code,
            NULL::text AS code_cloture_code,
            NULL::text AS statut_praxedo,
            NULL::text AS date_planifiee,
            NULL::timestamp without time zone AS date_cloture,
            NULL::text AS technicien,
            NULL::text AS commentaire_praxedo,
            NULL::timestamp without time zone AS pr_imported_at,
            NULL::text AS desc_site,
            NULL::text AS description,
            NULL::text AS type_site_terrain,
            NULL::text AS type_pbo_terrain,
            NULL::text AS mode_passage,
            NULL::text AS article_facturation_propose,
            NULL::text AS statut_article,
            NULL::text AS commentaire_technicien,
            NULL::text AS compte_rendu,
            NULL::integer AS pr_user_id,
            pi_abs.ot_key AS pi_ot_key,
            pi_abs.nd_global AS pi_nd_global,
            pi_abs.statut_pidi,
            pi_abs.code_cible,
            pi_abs.pidi_date_creation,
            pi_abs.numero_att,
            pi_abs.liste_articles,
            pi_abs.liste_articles_canon,
            pi_abs.commentaire_pidi,
            pi_abs.imported_at AS pi_imported_at,
            pi_abs.numero_ppd,
            pi_abs.attachement_valide,
            pi_abs.pi_user_id
           FROM pi_abs
        )
 SELECT COALESCE(all_rows.pr_user_id, all_rows.pi_user_id) AS user_id,
        CASE
            WHEN all_rows.ot_norm IS NOT NULL AND all_rows.nd_norm IS NOT NULL THEN (('OT:'::text || all_rows.ot_norm) || '|ND:'::text) || all_rows.nd_norm
            WHEN all_rows.ot_norm IS NOT NULL THEN 'OT:'::text || all_rows.ot_norm
            WHEN all_rows.nd_norm IS NOT NULL THEN 'ND:'::text || all_rows.nd_norm
            ELSE NULL::text
        END AS key_match,
    COALESCE(all_rows.pr_ot_key, all_rows.pi_ot_key) AS ot_key,
    COALESCE(all_rows.pi_nd_global, all_rows.pr_nd) AS nd_global,
        CASE
            WHEN (all_rows.pr_ot_key IS NOT NULL OR all_rows.pr_nd IS NOT NULL) AND (all_rows.pi_ot_key IS NOT NULL OR all_rows.pi_nd_global IS NOT NULL) THEN 'OK'::text
            WHEN (all_rows.pr_ot_key IS NOT NULL OR all_rows.pr_nd IS NOT NULL) AND all_rows.pi_ot_key IS NULL AND all_rows.pi_nd_global IS NULL THEN 'ABSENT_PIDI'::text
            WHEN all_rows.pr_ot_key IS NULL AND all_rows.pr_nd IS NULL AND (all_rows.pi_ot_key IS NOT NULL OR all_rows.pi_nd_global IS NOT NULL) THEN 'ABSENT_PRAXEDO'::text
            ELSE 'INCONNU'::text
        END AS statut_croisement,
    all_rows.pr_ot_key AS praxedo_ot_key,
    all_rows.pr_nd AS praxedo_nd,
    all_rows.activite_code,
    all_rows.produit_code,
    all_rows.code_cloture_code,
    all_rows.statut_praxedo,
    all_rows.date_planifiee,
    all_rows.date_cloture,
    all_rows.technicien,
    all_rows.commentaire_praxedo,
    all_rows.statut_pidi,
    all_rows.code_cible,
    all_rows.pidi_date_creation,
    all_rows.numero_att,
    all_rows.liste_articles,
    all_rows.liste_articles_canon,
    all_rows.commentaire_pidi,
    GREATEST(all_rows.pr_imported_at, all_rows.pi_imported_at) AS generated_at,
    all_rows.desc_site,
    all_rows.description,
    all_rows.type_site_terrain,
    all_rows.type_pbo_terrain,
    all_rows.mode_passage,
    all_rows.article_facturation_propose,
    all_rows.statut_article,
    all_rows.numero_ppd,
    all_rows.attachement_valide,
    all_rows.commentaire_technicien,
    COALESCE(cr10.compte_rendu, all_rows.compte_rendu) AS compte_rendu,
        CASE
            WHEN lower(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~~ '%plp%'::text THEN 'PLP d├®tect├® dans commentaire technicien'::text
            WHEN lower(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~~ '%prise existante%'::text THEN 'Prise existante mentionn├®e'::text
            WHEN lower(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~~ '%pto existant%'::text THEN 'PTO existant mentionn├®'::text
            WHEN lower(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~~ '%reprise plp%'::text THEN 'Reprise PLP mentionn├®e'::text
            WHEN lower(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~~ '%travaux suppl├®mentaires%'::text THEN 'Travaux suppl├®mentaires avec d├®charge'::text
            WHEN lower(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~~ '%decharge%'::text THEN 'D├®charge mentionn├®e'::text
            WHEN lower(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~~ '%devis%'::text THEN 'Devis mentionn├®'::text
            WHEN lower(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~~ '%refus%'::text THEN 'Refus du client'::text
            WHEN lower(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~~ '%absence%'::text THEN 'Client absent'::text
            WHEN lower(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~~ '%rdv%'::text THEN 'Rendez-vous mentionn├®'::text
            WHEN lower(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~~ '%rappel%'::text THEN 'Rappel demand├®'::text
            WHEN lower(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~~ '%sav%'::text THEN 'SAV mentionn├®'::text
            WHEN lower(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~~ '%garantie%'::text THEN 'Garantie mentionn├®e'::text
            WHEN lower(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~~ '%facture%'::text THEN 'Facture mentionn├®e'::text
            WHEN lower(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~~ '%paiement%'::text THEN 'Paiement mentionn├®'::text
            ELSE NULL::text
        END AS phrase_declencheuse,
    cr10.evenements,
    replace(COALESCE(cr10.evenements, ''::text), chr(160), ' '::text) AS evenements_norm,
    COALESCE(NULLIF(btrim(cr10.palier), ''::text),
        CASE
            WHEN replace(COALESCE(cr10.evenements, ''::text), chr(160), ' '::text) ~* 'pididegr'::text AND replace(COALESCE(cr10.evenements, ''::text), chr(160), ' '::text) ~* 'palier[[:space:]]*3'::text THEN 'PALIER_3'::text
            WHEN replace(COALESCE(cr10.evenements, ''::text), chr(160), ' '::text) ~* 'pididegr'::text AND replace(COALESCE(cr10.evenements, ''::text), chr(160), ' '::text) ~* 'palier[[:space:]]*2'::text THEN 'PALIER_2'::text
            WHEN replace(COALESCE(cr10.evenements, ''::text), chr(160), ' '::text) ~* 'pididegr'::text AND replace(COALESCE(cr10.evenements, ''::text), chr(160), ' '::text) ~* 'palier[[:space:]]*1'::text THEN 'PALIER_1'::text
            WHEN replace(COALESCE(cr10.evenements, ''::text), chr(160), ' '::text) ~* 'pididegr'::text AND replace(COALESCE(cr10.evenements, ''::text), chr(160), ' '::text) ~* 'aucun(e|es)?[[:space:]]+regle'::text THEN 'PALIER_1'::text
            ELSE NULL::text
        END) AS palier,
        CASE
            WHEN btrim(replace(COALESCE(cr10.evenements, ''::text), chr(160), ' '::text)) = ''::text THEN NULL::text
            WHEN replace(COALESCE(cr10.evenements, ''::text), chr(160), ' '::text) !~* 'pididegr'::text THEN NULL::text
            ELSE NULLIF((regexp_match(replace(COALESCE(cr10.evenements, ''::text), chr(160), ' '::text), '(?i)pididegr[^=]*=[^=]*=system=([^#\r\n]+)'::text))[1], ''::text)
        END AS palier_phrase,
        CASE
            WHEN upper(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~ '(IMMEUBLE|INTERIEUR|FAUX\s*PLAFOND)'::text THEN 'IMMEUBLE_INTERIEUR'::text
            WHEN upper(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~ '(SOUTERRAIN|FOURREAU)'::text THEN 'SOUTERRAIN_FOURREAU'::text
            WHEN upper(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~ '(FACADE|AERIEN|APPARENT|GOULOTTE)'::text THEN 'FACADE_AERIEN'::text
            ELSE NULL::text
        END AS pb_mode_override,
        CASE
            WHEN upper(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~ '(IMMEUBLE|INTERIEUR|FAUX\s*PLAFOND)'::text THEN 'Mot-cl├® PB d├®tect├®: IMMEUBLE/INTERIEUR/FAUX PLAFOND'::text
            WHEN upper(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~ '(SOUTERRAIN|FOURREAU)'::text THEN 'Mot-cl├® PB d├®tect├®: SOUTERRAIN/FOURREAU'::text
            WHEN upper(COALESCE(cr10.compte_rendu, all_rows.compte_rendu, ''::text)) ~ '(FACADE|AERIEN|APPARENT|GOULOTTE)'::text THEN 'Mot-cl├® PB d├®tect├®: FACADE/AERIEN/APPARENT/GOULOTTE'::text
            ELSE NULL::text
        END AS pb_mode_override_reason
   FROM all_rows
     LEFT JOIN raw.praxedo_cr10 cr10 ON ltrim(regexp_replace(btrim(cr10.id_externe), '[^0-9]'::text, ''::text, 'g'::text), '0'::text) = COALESCE(all_rows.ot_norm, ltrim(regexp_replace(btrim(COALESCE(all_rows.pr_ot_key, all_rows.pi_ot_key)), '[^0-9]'::text, ''::text, 'g'::text), '0'::text)) AND cr10.user_id = COALESCE(all_rows.pr_user_id, all_rows.pi_user_id)
  WHERE all_rows.ot_norm IS NOT NULL OR all_rows.nd_norm IS NOT NULL;
